<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>防抖函数</title>
</head>
<body>
  <input id="input" type="text" >
  <p id="p"></p>
  
  <script>
    document.getElementById('input').addEventListener('input',inputChange)
    const p = document.getElementById('p')

    //input事件函数
    function inputChange(event) {
      var value = event.target.value
      iDebounce(value)
    }
    
    //p赋值函数
    function pvalue(value) {
      p.innerHTML = value
    }

    //防抖函数
    var iDebounce = debounce(pvalue,500)
    function debounce(fn,delay) {
      var timer = null
      return function (...value){
        if(timer) {
          clearTimeout(timer)
        }
        timer = setTimeout(() => {
          fn(value)
        }, delay);
      }
    }
    
  </script>
</body>
</html>